.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-label {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.input {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #eee;
  color: #333;
}
