.message-list_container {
  background-color: #ddd;
  padding: 0.5rem;
  border-radius: 0.25rem;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  scroll-behavior: auto;
}

.message-list_message-container {
  background-color: #fff;
  display: flex;
  align-items: end;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  max-width: 60%;
  word-wrap: break-word;
}

.message-list_message-chunk {
  margin-bottom: 0.5rem;
  overflow-wrap: anywhere;
}

.message-list_message-timestamp {
  font-weight: bold;
  font-size: 0.5rem;
  margin-left: 0.25rem;
}

.user {
  background-color: #999;
  align-self: flex-end;
}
